<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChessFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ChessFrameworkLibrary copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ChessFrameworkLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ChessFrameworkLibrary_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>635B405717C484DA00D6BAE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>636FF77317D0C1E200B47925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>636FF79C17D0CE3100B47925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63791943179A6784000C98E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDD926DD179DB4BA00225C0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
